@import "variables";

a.logo {
    text-decoration: none;
}

button {
    font-family: "Montserrat", sans-serif;
}

input {
    font-family: "Montserrat", sans-serif;
}

select,
option {
    font-family: "Montserrat", sans-serif;
}

.logo {
    color: $primary;
}

.clickable {
    &:hover {
        cursor: pointer !important;
    }
}

.hidden {
    display: none !important;
}

.text-green {
    color: $green;
}

.text-primary {
    color: $primary;
}
