@import "../../assets/style/variables.scss";
@import "../../assets/style/util.scss";

body.disable-scroll {
    overflow-y: hidden;
}

section.modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: $dark;
    background-color: rgba($dark, 0.85);
    overflow: auto;

    div.modal-content {
        background-color: $dark;
        width: 500px;
        margin: 50px auto;
        padding: 30px 50px 40px 50px;

        div.modal-action {
            display: flex;
            justify-content: flex-end;

            div.modal-close-icon {
                svg {
                    fill: $white;
                    height: 15px;
                    width: 15px;
                    transition: all 300ms ease;

                    &:hover {
                        fill: $primary;
                    }
                }
            }
        }

        div.modal-body {
            padding-bottom: 40px;

            .center {
                text-align: center;
                display: block;
            }
        }

        div.modal-footer {
            padding: 20px 0px;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }

        h1 {
            font-weight: normal;
        }

        svg.icon {
            height: 40px;
            width: 40px;

            circle {
                fill: $primary;
            }

            path {
                fill: $white;
            }
        }

        div.form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
                color: $primary;
                font-size: 12px;
                padding: 10px 0px;
            }

            input {
                background-color: $grey;
                padding: 10px 20px;
                color: $white;
                border-radius: 5px;
                border: 1px solid $dark;
                font-family: "Montserrat", sans-serif;

                &:focus {
                    outline: none;
                }

                &.error {
                    border: 1px solid $primary;
                }
            }

            select {
                background-color: $grey;
                padding: 10px 20px;
                color: $white;
                border-radius: 5px;
                border: 1px solid $dark;
                outline: none;

                &.error {
                    border: 1px solid $primary;
                }
            }

            span.error-message {
                font-size: 12px;
                padding-top: 5px;
                color: $primary;
            }

            .disabled {
                padding: 0px;
                background-color: $dark;
            }
        }
    }
}
