.app {
  font-family: sans-serif;
  margin: 20px;
}

.component-block {
  max-width: 400px;
  height: 75px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 40px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  span {
    margin: 0px;
    padding: 0px;
    align-self: flex-end;
    color: green;
  }

  span::before {
    content: "- By, ";
  }

  h3 {
    margin: 0px;
    padding: 0px;
  }
}
