@import "../../assets/style/variables.scss";
@import "../../assets/style/util.scss";

footer {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
}
